header {
	display: flex;
	flex-direction: column;
	background-color: var(--secondary-button);
	padding: 10px;
	width: 100%;
	align-items: center;
}

.header {
	display: flex;
	width: 90%;
	justify-content: space-between;
}

.logo {
	display: flex;
	align-items: center;
	color: var(--color-Accent);
	gap: 0.3rem;
}

.Menu_options {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
}

.Menu_options_list {
	display: flex;
	gap: 2rem;
	justify-content: center;
	align-items: center;
}

.Menu_options_list a {
	font-weight: 500;
}

.vertical-line {
	border: none;

	height: 20px;

	border-left: 2px solid var(--text);
}

.horizontal-line {
	border: none;

	border-top: 2px solid var(--text);
}

.Menu_options_list li:hover {
	transform: scale(1.05);
}
.Menu_options_list li:active {
	transform: scale(0.95);
}

/* ---------- responsive ---------- */

#menu_bar_button i {
	color: var(--secondary-button);
}

.menu_bar_nav {
	margin-top: 40px;
	display: flex;
	position: absolute;
	flex-direction: column;
	z-index: 9999;
	width: 100%;
	height: auto;
	background-color: var(--secondary-button);
	padding: 2rem;
	border-radius: 0 0 28px 28px;
}

.Menu_bar {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.Menu_bar ul {
	align-items: center;
	justify-content: center;
}

.Menu_bar li {
	width: 100%;
	text-align: center;
}

.Menu_bar a {
	width: 100%;
}

#menu_bar_button {
	display: none;
}

@media screen and (min-width: 901px) {
	#menu_bar_nav,
	#menu_bar_button {
		display: none;
	}
}
@media screen and (max-width: 900px) {
	.menu_bar_nav,
	.Menu_options_list {
		display: none;
	}

	#menu_bar_button {
		display: flex;
	}
}
