html {
	scroll-behavior: smooth !important;
}

/* ---------- main ---------- */

main {
	display: grid;
	align-items: center;
	margin-bottom: 50px;
}

.vh1 {
	height: 100vh;
}

.vh2 {
	height: 80vh;
}

.bg1 {
	background-color: var(--secondary-button);
}

/* ---------- section 1 ---------- */

#welcome {
	background-image: url("../assets/Fazenda.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	width: 100%;
	height: 100vh;
}

.section_1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 90%;
	gap: 1rem;
	margin: auto;
}

.glass {
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(10px);
	width: 100%;
	height: 100vh;
}

/* ---------- section 2 ---------- */

.section_2 {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	width: 90%;
	margin: auto;
	padding: 2rem 0 2rem 0;
}

.conteudo_2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

#fazenda2 {
	height: 70%;
	border: solid 2px var(--accent);
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
	transition: transform 0.3s ease;
}

#fazenda2:hover {
	transform: scale(1.02);
}

/* ---------- section 4 ---------- */

.section_4 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	gap: 2rem;
	width: 95%;
	margin: auto;
	padding: 2rem 0 2rem 0;
}

.conteudo_4 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
	gap: 1rem;
}

.slot {
	background-color: var(--background);
	display: flex;
	flex-direction: column;
	height: auto;
	margin: 20px 0 20px 0;
	gap: 1rem;
	transition: transform 0.3s ease;
}

.slot:hover {
	transform: scale(1.01);
}

.img1 {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 150px;
	border-radius: 28px;
	border: solid 2px var(--accent);
}

.i1 {
	background-image: url("../assets/Milho.webp");
}

.i2 {
	background-image: url("../assets/Sorgo.jpg");
}

.i3 {
	background-image: url("../assets/soja.jpg");
}

.i4 {
	background-image: url("../assets/ureia.jpg");
}
